#grid {
  display: grid;
  grid-template-rows: repeat(10, 20px);
  grid-template-columns: repeat(10, 20px);
  place-items: center;
  border: 1px solid black;
}


#grid > div {
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
}

.snake, .obstacle {
  font-size: 12px;
  background-color: lightgreen;
  border: 3px solid darkgreen;
  border-radius: 3px;
}

.snake.head {
  background-color: green;
  color: yellow; 
  z-index: 1;
  border-radius: 35%;
}

.snake.head[data-hit=true]{
  background-color: red;
  color: white;
}

.snake.tail {
  background-color: green;
  color: yellow; 
  transform-origin: 50% 50%;
  transform: scale(80%);
  border-radius: 35%;
}

.obstacle {
  background-color: grey;
  border-color: black;
}