* {
  box-sizing: border-box;
}

body,
html {
  border: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-rows: 60% 10% 30%;
  grid-template-columns: auto;
  column-gap: 1em;
  height: 100vh;
  aspect-ratio: 9/16;
  background-color: rgb(40, 167, 89);;

}


button {
  width: 5em;
  height: 2em;
  grid-column: 1/2;
  grid-row: auto;
}

#grid-area {
  display: grid;
  place-items: center;
}